<!doctype html>
<html lang="en-us">
<head>
    <title>CPython</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
<!--
    Pygbag Version : {{cookiecutter.version}}
    CDN URL : {{cookiecutter.cdn}}

    Title   : {{cookiecutter.title}}
    Folder  : {{cookiecutter.directory}}
    Authors : {{cookiecutter.authors}}
    SPDX-License-Identifier: {{cookiecutter.spdx}}

    {%- if cookiecutter.comment != "" -%}
{{cookiecutter.comment}}
    {% endif %}

-->
    <link rel="icon" type="image/png" href="{{cookiecutter.cdn}}/favicon.png" sizes="16x16" />

    <link rel="stylesheet" href="{{cookiecutter.cdn}}/styles.css"/>
    <link rel="stylesheet" href="{{cookiecutter.cdn}}/xtermjsixel/xterm.css" />
    <link rel="stylesheet" href="{{cookiecutter.cdn}}/xtermjsixel/style.css"/>

    <style>
        #status {
            display: inline-block;
            vertical-align: top;
            margin-top: 20px;
            margin-left: 30px;
            font-weight: bold;
            color: rgb(120, 120, 120);
        }

        #progress {
            height: 20px;
            width: 300px;
        }

        div.emscripten { text-align: center; }
        div.emscripten_border { border: 1px solid black; }
        div.thick_border { border: 4px solid black; }

        /* the canvas *must not* have any border or padding, or mouse coords will be wrong */
        canvas.emscripten { border: 0px none; background-color: blue; }

        body {
            font-family: arial;
            margin: 0;
            padding: none;
        }

        /* average size of droid screen 470dp x 320dp  */
        .topright{
           position:absolute;
           top:5px;
           right:5px;
        }

        .trinfo{
           position:absolute;
           top:330px;
           right:0px;
           border: 1px solid black;
        }

        .framed{
           position:absolute;
           top:400px;
           right:10px;
           border: 1px solid black;
        }
    </style>

    <script src="{{cookiecutter.cdn}}/xtermjsixel/xterm.js"></script>
    <script src="{{cookiecutter.cdn}}/xtermjsixel/xterm-addon-image.js"></script>
    <script src="{{cookiecutter.cdn}}/browserfs.min.js"></script>

    <script type="module" src="{{cookiecutter.cdn}}/python311.js" async defer></script>


</head>

<body>
    <div class="spinner" id='spinner'></div>
    <div class="emscripten" id="status">Downloading...</div>
    <div class="emscripten">
      <progress value="0" max="100" id="progress" hidden=1></progress>
    </div>

    <!-- <div class="thick_border" align=center > -->
        <div class="topright" align="center">
            <canvas class="emscripten" id="canvas"
width="800px" height="600px"
style="width: 470px; height: 320px;"
            oncontextmenu="event.preventDefault()" tabindex=0>
            </canvas>
            <div class="button-container">
                800x600=&gt;470x320
                <button id="aiostop" disabled>AIO ⏏︎</button>
                <button id="aiopaused_true" disabled>AIO ■</button>
                <button id="aiopaused_false" disabled>AIO ▶</button>
                <button id="pygame_music_pause" disabled>Music ■</button>
                &nbsp;
            </div>

        </div>

        <div id="terminal" tabIndex=1 align="left"><p></div>
        <br>
        &nbsp;VT340

        <div id="info" class="trinfo" style="width: 470px;height=70px;">
        </div>

        <iframe id="iframe" class="framed" name="iframe"
height="88%" width="470px"
            sandbox="allow-same-origin allow-top-navigation allow-scripts allow-pointer-lock"
            mozallowfullscreen="true"
            allow="autoplay; fullscreen *; geolocation; microphone; camera; midi; monetization; xr-spatial-tracking; gamepad; gyroscope; accelerometer; xr; cross-origin-isolated"
            frameborder="0"
            src="about://"
            msallowfullscreen="true"
            scrolling="yes"
            allowfullscreen="true"
            webkitallowfullscreen="true"
            allowtransparency="true">
        </iframe>

    <!--    </div> -->


    <script type="application/javascript">
    config = {
        xtermjs : "{{cookiecutter.xtermjs}}" ,
        _sdl2 : "canvas",
        archive : "{{cookiecutter.archive}}",
        cdn : "{{cookiecutter.cdn}}",
        autorun : {{cookiecutter.autorun}}
    }

    function custom_prerun(){
        // no python main and no (MEMFS + VFS) yet.
        console.log(__FILE__, "custom_prerun")
    }

    function custom_postrun(){
        // python main and no VFS filesystem yet.
        console.log(__FILE__, "custom_prerun")
    }

    function info_online(url, data) {
        // display info about current APK
        fetch( url /*, options */)
            .then((response) => response.text())
            .then((html) => {
                document.getElementById("info").innerHTML = html || data;
        })
        .catch((error) => {
            console.warn(error);
        });
    }


    function info_inline(data){
        document.getElementById("info").innerHTML = data
    }

    var ifram_dom

    function childLoaded() { ifram_dom = childGetElementById('someid');}

    function frame_online(url) {
        window.frames["iframe"].location = url;
    }

    async function custom_site(vfs) {
        // python and all filesystems are ready.
        console.log(__FILE__, "custom_site Begin")

        python.readline.history = []

        //_rcp("current.py", "/data/data/org.python/assets/test.py")


        frame_online(  Module.arguments[0]+".html" )



// PyConfig
// https://docs.python.org/dev/c-api/init_config.html



        // your needs to the minimal pyconfig
        python.PyConfig =  JSON.parse(`
{
    "base_executable" : null,
    "base_prefix" : null,
    "buffered_stdio" : null,
    "bytes_warning" : 0,
    "warn_default_encoding" : 0,
    "code_debug_ranges" : 1,
    "check_hash_pycs_mode" : "default",
    "configure_c_stdio" : 1,
    "dev_mode" : -1,
    "dump_refs" : 0,
    "exec_prefix" : null,
    "executable" : "${python.PyConfig.executable}",
    "faulthandler" : 0,
    "filesystem_encoding" : "utf-8",
    "filesystem_errors" : "surrogatepass",
    "use_hash_seed" : 1,
    "hash_seed" : 1,
    "home": null,
    "import_time" : 0,
    "inspect" : 1,
    "install_signal_handlers" :0 ,
    "interactive" : 1,
    "isolated" : 1,
    "legacy_windows_stdio":0,
    "malloc_stats" : 0 ,
    "platlibdir" : "lib",
    "prefix" : "/data/data/org.python/assets/site-packages",
    "ps1" : ">>> ",
    "ps2" : "... "
}
`)

        var runsite = `#!
import os,sys,json

PyConfig = json.loads("""${JSON.stringify(python.PyConfig)}""")

if os.path.isdir(PyConfig['prefix']):
    sys.path.append(PyConfig['prefix'])
    os.chdir(PyConfig['prefix'])

if os.path.isfile("/data/data/pythonrc.py"):
    exec(open("/data/data/pythonrc.py").read(), globals(), globals())
# <- keep it here
`
        if (python.motd)
            runsite = runsite+ `print("_"*80);print("${python.motd}");print("_"*80);`


        if (await _rcp("{{cookiecutter.cdn}}/pythonrc.py","/data/data/pythonrc.py")) {

            // FIXME: sometimes runtime is called without overlayfs ready.

            if (python.APK != "org.python") {
                if (config.autorun) {
                    if (await _rcp(`${python.APK}.py`, `/data/data/${python.APK}/assets/main.py`)) {
                        console.log(__FILE__, "prepare to APK", python.APK)
                    }
                }

                // hide the top status bar (emscripten loader)
                setTimeout(python.setStatus, 1000, "hide")
                on_click("aiostop","shell.stop()")
                on_click("aiopaused_true","aio.paused=True")
                on_click("aiopaused_false","aio.paused=False")
                on_click("pygame_music_pause","pygame.music.pause()")
            } else {
                console.log(__FILE__, "not APK to prepare")
            }
        } else {
            runsite = runsite +'embed.prompt();'
        }
        python.PyRun_SimpleString(runsite)
    }





    window.onload = function () {
        // nothing is ready.


        var wasmterm

        if (!config.xtermjs) {
            // xterm js placeholder
            wasmterm = { print : console.log, sixel : function(){}}
        } else {
            // it uses  document.getElementById('terminal') to get its host
            wasmterm = new WasmTerminal( "terminal", 100, 35 )

            window.xterm = wasmterm.xterm

        }

        pythonvm(wasmterm, config)


    }

    </script>
</body>
</html>
